<div id="application-container">
  {{application/header-sidebar
    class=navClass}}
  <div id="app-body" class="container-fluid {{bodyClass}}">
    {{outlet}}
  </div>
  {{application/chat-container
    class=chatClass}}
</div>